# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBAPP_URL=

# Rusprofile
RUSPROFILE_LOGIN=
RUSPROFILE_PASSWORD=

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS_FILE=config/credentials.json
GOOGLE_SHEET_ID=

# OpenAI (Этап 2)
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
